<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>
            <h:outputText value="RealEstate Application - LandProperty"/>
        </title>
    </h:head>
    <h:body>
        <f:view locale="en">
            <h1><h:outputText value="RealEstate Application"/></h1>
            <h2><h:outputText value="Confirmation Page"/></h2>
          
     
                             <h3>Thank you #{loginBean.customer.firstName} #{loginBean.customer.lastName} your payment has been confirmed.</h3> 

            
            
        </f:view>
        
        
        
    </h:body>
</html>