<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>
            <h:outputText value="RealEstate Application - LandProperty"/>
        </title>
    </h:head>
    <h:body>
        <f:view locale="en">
            <h1><h:outputText value="RealEstate Application"/></h1>
            <h2><h:outputText value="Land Property"/></h2>
            
            
        
        <h:form>
        <div>
        <h:graphicImage value="/House1.jpg" width="200" /><br></br>
        <p:commandButton id="buy" action="#{loginBean.buy}" value="Buy Now"/>
        </div>
        <div>
        <h:graphicImage value="/House2.jpg" width="200"  /><br></br>
        <p:commandButton id="buy1" action="#{loginBean.buy}" value="Buy Now"/>
        </div>
        <div>
        <h:graphicImage value="/House3.jpg" width="200"  /><br></br>
        <p:commandButton id="buy2" action="#{loginBean.buy}" value="Buy Now"/>
        </div>
        </h:form>
        </f:view>
    </h:body>
</html>