<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>
            <h:outputText value="RealEstate Application - LandProperty"/>
        </title>
    </h:head>
    <h:body>
        <f:view locale="en">
            <h1><h:outputText value="RealEstate Application"/></h1>
            <h2><h:outputText value="Payment Page"/></h2>
            <h:form id="form">
                <div class="ui-fluid">
                    <p:panelGrid id="grid" layout="grid" 
                                 columns="2" 
                                 columnClasses="ui-grid-col-3,ui-grid-col-9" 
                                 styleClass="ui-panelgrid-blank">
                        <p:outputLabel for="firstName" value="First Name:"/>
                        <p:inputText id="firstName" size="30" maxlength="40" required="true"
                                     value="#{loginBean.customer.firstName}">
                        <f:validateLength minimum="2"/>
                        </p:inputText>
                        <p:outputLabel for="lastName" value="Last Name:"/>
                        <p:inputText id="lastName" size="30" maxlength="40" required="true"
                                     value="#{loginBean.customer.lastName}">
                        <f:validateLength minimum="2"/>
                        </p:inputText>
                        <p:outputLabel for="creditcard" value="Credit Cardnumber:"/>
                        <p:inputText id="creditcard" size="30" maxlength="16" required="true"
                                     value="#{creditcardnumber}">
                        <f:validateLength minimum="2"/>
                        </p:inputText>
                        <p:outputLabel for="expire" value="Expire Date:"/>
                        <p:inputText id="expire" size="30" maxlength="10" required="true"
                                     value="#{creditcardnumber}">
                        <f:validateLength minimum="2"/>
                        </p:inputText>
                        
                        <p:outputLabel for="cvv" value="CVV:"/>
                        <p:inputText id="cvv" size="03" maxlength="03" required="true"
                                     value="#{creditcardnumber}">
                        <f:validateLength minimum="3"/>
                        </p:inputText>
                        </p:panelGrid>
                        </div>
                        <p:commandButton id="confirm" action="#{loginBean.pay}" value="Pay Now"/>
                        </h:form>
            
            
        </f:view>
        
        
        
    </h:body>
</html>