<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>
            <h:outputText value="Real Estate Application - Registration"/>
        </title>
    </h:head>
    <h:body>
   <h1> Welcome  #{loginBean.customer.userName}</h1>
    
    
    <h:form>
        <p:commandButton  id="landproperty" action="#{loginBean.land()}" value="Land Property" ajax="false"/><br></br>
        
        <p:commandButton  id="homeproperty" action="#{loginBean.home()}" value="Home Property" ajax="false"/><br></br>
       
        <p:commandButton  id="editprofile" action="#{loginBean.edit()}" value="Edit profile" ajax="false"/>
    
    </h:form>
    </h:body>
</html>
