<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>
            <h:outputText value="RealEstate Application - Registration"/>
        </title>
    </h:head>
    <h:body>
        <f:view locale="en">
            <h1><h:outputText value="RealEstate Application"/></h1>
            <h2><h:outputText value="Login"/></h2>
            <p:messages/>
            <h:form id="form">
                 
                
                <div class="ui-fluid">
                    
                    <p:panelGrid id="grid" layout="grid" 
                                 columns="2" 
                                 columnClasses="ui-grid-col-3,ui-grid-col-9" 
                                 styleClass="ui-panelgrid-blank">
                        <p:outputLabel for="userName" value="Username:"/>
                        <p:inputText id="userName" size="30" maxlength="40"
                                     value="#{loginBean.customer.userName}"/>
                        <p:outputLabel for="password" value="Password"/>
                        <p:password id="password" size="30" maxlength="40"
                                     value="#{loginBean.loginpage.password}">
                        </p:password>
                        
                    </p:panelGrid>
                </div>
                <p:commandButton id="login" action="#{loginBean.login}" value="Login" ajax="false"/>
                
                <p:commandButton   id="register" action="#{loginBean.register}" value="Register" ajax="false"/>
                
                <p:commandButton id="changepassword" action="#{loginBean.changepassword}" value="Change Password" ajax="false"/>
            </h:form>
            
        </f:view>
    </h:body>
</html>