<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>
            <h:outputText value="RealEstate Application - Registration"/>
        </title>
    </h:head>
    <h:body>
        <f:view locale="en">
            <h1><h:outputText value="RealEstate Application"/></h1>
            <h2><h:outputText value="Registration"/></h2>
            <p:messages/>
            <h:form id="form">
                <div class="ui-fluid">
                    <p:panelGrid id="grid" layout="grid" 
                                 columns="2" 
                                 columnClasses="ui-grid-col-3,ui-grid-col-9" 
                                 styleClass="ui-panelgrid-blank">
                        <p:outputLabel for="firstName" value="First Name:"/>
                        <p:inputText id="firstName" size="30" maxlength="40" required="true"
                                     value="#{loginBean.customer.firstName}">
                        <f:validateLength minimum="2"/>
                        </p:inputText>
                        <p:outputLabel for="lastName" value="Last Name:"/>
                        <p:inputText id="lastName" size="30" maxlength="40" required="true"
                                     value="#{loginBean.customer.lastName}">
                        <f:validateLength minimum="2"/>
                        </p:inputText>
                        <p:outputLabel for="userName" value="User Name:"/>
                        <p:inputText id="userName" size="30" maxlength="40" required="true"
                                     value="#{loginBean.customer.userName}" >
                        <f:validateLength minimum="2"/>
                        </p:inputText>
                        <p:outputLabel for="email" value="Email:"/>
                        <p:inputText id="email" size="30" maxlength="40"
                                     required="true"
                                     value="#{loginBean.customer.email}"  validatorMessage="Your email is not valid">
                        <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
                        </p:inputText>
                        
                        <p:outputLabel for="password" value="Password"/>
                        <p:password id="password" size="30" maxlength="40"
                                     feedback="true"
                                     required="true"
                                     value="#{loginBean.customer.password}">
                            
                            <f:validateLength minimum="8" maximum="20" />
                        </p:password>
                    </p:panelGrid>
                </div>
                <p:commandButton id="submit" action="#{loginBean.submit}" value="Submit" ajax="false"/>
            </h:form>
        </f:view>
    </h:body>
</html>

